<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PeerConnecting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6928F8351E7DFD0600BE4C86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6928F8511E7DFD0800BE4C86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6928F85C1E7DFD0800BE4C86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
